@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loginDiv {
    background: rgb(195, 34, 127);
    background: linear-gradient(
      0deg,
      rgba(195, 34, 127, 1) 0%,
      rgba(253, 237, 45, 1) 100%
    );
    @apply flex justify-center items-center min-h-screen;
  }
}

.recipes {
  background-color: #ff9636;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 1rem;
  flex-direction: column;
}
